In [1]:
import pandas as pd
import numpy as np

In [19]:
loan_df = pd.read_csv(r'C:\Users\User\Desktop\EQWorksSample\DataSample.csv')

In [20]:
loan_df.shape

(22025, 7)

In [21]:
print(loan_df)

           _ID                   TimeSt Country Province              City  \
0      4516516  2017-06-21 00:00:00.143      CA       ON          Waterloo
1      4516547  2017-06-21 18:00:00.193      CA       ON            London
2      4516550  2017-06-21 15:00:00.287      CA       ON            Guelph
3      4516600  2017-06-21 15:00:00.307      CA       ON         Stratford
4      4516613  2017-06-21 15:00:00.497      CA       ON         Stratford
...        ...                      ...     ...      ...               ...
22020  5614801  2017-06-21 12:23:07.880      CA       ON  Saint Catharines
22021  5614888  2017-06-21 08:23:01.793      CA       AB           Calgary
22022  5614909  2017-06-21 00:23:07.903      CA       ON            Whitby
22023  5614912  2017-06-21 11:23:07.953      CA       ON          Oakville
22024  5615006  2017-06-21 17:23:08.033      CA       ON          Oakville

       Latitude  Longitude
0      43.49347  -80.49123
1      42.93990  -81.27090
2      43.57760  -80.22010
3      43.37160  -80.97730
4      43.37160  -80.97730
...         ...        ...
22020  43.16440  -79.24560
22021  51.02093 -114.10621
22022  43.88730  -78.94220
22023  43.49340  -79.71260
22024  43.43090  -79.77670

[22025 rows x 7 columns]

In [28]:
loan_df=loan_df[loan_df.duplicated(subset=['Latitude','Longitude'])]

In [29]:
print(loan_df)

           _ID                   TimeSt Country Province              City  \
12     4517047  2017-06-21 12:00:00.950      CA       ON            London
25     4517607  2017-06-21 01:00:01.623      CA       ON           Chatham
30     4517905  2017-06-21 17:00:00.183      CA       ON           Windsor
45     4518585  2017-06-21 06:00:02.827      CA       ON            Guelph
46     4518676  2017-06-21 05:00:02.857      CA       ON         Kitchener
...        ...                      ...     ...      ...               ...
22020  5614801  2017-06-21 12:23:07.880      CA       ON  Saint Catharines
22021  5614888  2017-06-21 08:23:01.793      CA       AB           Calgary
22022  5614909  2017-06-21 00:23:07.903      CA       ON            Whitby
22023  5614912  2017-06-21 11:23:07.953      CA       ON          Oakville
22024  5615006  2017-06-21 17:23:08.033      CA       ON          Oakville

       Latitude  Longitude
12     43.00910  -81.17650
25     42.42470  -82.17550
30     42.29570  -82.95990
45     43.57760  -80.22010
46     43.43970  -80.43400
...         ...        ...
22020  43.16440  -79.24560
22021  51.02093 -114.10621
22022  43.88730  -78.94220
22023  43.49340  -79.71260
22024  43.43090  -79.77670

[14231 rows x 7 columns]